<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/form.css"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная </a>
            </li>
        </ul>
    </div>
</nav>

{%  if user %}
<div class="bs-component">
              <div class="alert alert-dismissible alert-success">
                <strong>Well done!</strong> You successfully login as {{ user.fname }} {{ user.lname }}.
              </div>
{% endif %}
<div class="wrapper">
    <form class="card border-primary mb-3 myform" action="/dict" method="post">
        <h3 class="card-header">Please login</h3>
        <div class="card-body">
            <input type="text" class="form-control" name="userfname" placeholder="Your first name" required=""
                   autofocus=""/>
            <input type="text" class="form-control" name="userlname" placeholder="Your last name" required=""
                   autofocus=""/>
            <!--<h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p> -->
        </div>
        <div class="confirm">
            <button class="btn btn-lg btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>
</body>

</html>